@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');

@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
/*Meyer Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/*----------*/

/*Box-sizing*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Standard Styles*/

body {
  display: block;
  font-family: 'Crimson Text', serif;
  font: 16px/22px;
  width: 100%;
  color: #3B3B3B;
}

img {
  max-width: 100%;
  display: block;
  margin: 15px auto;

}

link {
  text-decoration: none;
}

/*Fixed Header*/

.main-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.6);
  padding: 14px 0;
  z-index: 1;
}

.wrapper {
  margin: auto;
  position: relative;
  padding: 0 40px;
}

#menu-button {
  display: inline-block;
  width: 25%;
}

/*Main intro, fills screen*/
#first-view {
  width: 100%;
  background-image: url('main-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  margin-bottom: 50px;
}

#first-view > h1 {
  text-align: center;
  position: relative;
  font-size: 2.5em;
  font-weight: bold;
}

/*Drop-down list*/

select {
  display: block;
  margin: 20px auto;
}

/*Main content*/

.arTemplate {
  display: none;
}

.articleBundle {
  margin: 50px auto;
}

.title {
  font-size: 1.5em;
  text-align: center;
  background-color: #F5F4F0;
  padding: 14px 0;
}

.articleBundle > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.articleBundle > p, .author, .category {
  display: inline-block;
}

time, a {
  display: block;
}

.more {
  margin: 14px 0;
}

.body > p {
  margin: 14px 0;
  text-align: center;
}

.link:hover {
  color: #a9b2b9;
}

.more {
  cursor: s-resize;
}

/*-------*/

/*Menu button*/
.menu {
  display: none;
  position: fixed;
  background: rgba(255,255,255,.8);
  height: 100%;
  width: 100%;
  z-index: 9999;
}

div.table {
  display: table;
  height: 100%;
  width: 100%;
}

#close-tab {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5em;
  padding: 15px 0 0 15px;
}

nav.menu ul {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
}

.menu li {
  margin-bottom: 20px;
}

/*Footer*/
footer {
	text-align: center;
	margin-bottom: 15px;
}
