#main-header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

.entry {
  margin: 20px 10px;
  font-size: 1.2em;
}

input {
  margin-left: 5px;
  height: 2em;
}

textarea {
  width: 75%;
  height: 200px;
  margin: 20px 10px;
}

.new-section {
  text-align: center;
  margin: 20px 0;
}

#JSON {
  margin: 20px 0;
}
