<section class="articleBundle {{status}}">
  <header class="title">{{title}}</header>
  <i><span>By: <span class="author">{{author}}</span><br /></span></i>
  <i><time>Published {{getDate this.publishedOn}} days ago</time></i>
  <article class="body">{{{body}}}</article>
  <a class="link more">See More</a>
  <i><span>Categories: <span class="category">{{category}}</span><br /></span></i>
  <a class="link url" target="_blank" href="{{authorUrl}}">Original Article</a><br />
  <div class="word-count">Word Count: {{getWordCount this}}</div>
  <a class="article-button newpage-button">See in New Page</a>
  <a class="article-button modButton edit-button">Edit</a>
  <a class="article-button modButton delete-button">Delete</a>
</section>
